# CLion files
.idea/
cmake-build-debug/.cmake
cmake-build-debug/CMakeFiles
cmake-build-debug/Testing

# Build artifacts
*.exe
*.out
lexical_analyzer

# macOS
.DS_Store

# Output files (optional)
lexicalAnalyzer/lexical_report.txt
.vscode/tasks.json
